*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
} 


@media screen and (min-width: 1024px) {
    body{
        width: 100%;
    }
    main{
        height: auto;
        background-color: #de2b24;
        align-items: center;
    }
    .OurWork{
        min-height: 865px;
        max-width: 1024px;
        color: white;
        margin: 0 auto;
        height: auto;
        
    }

    .OurWork .text{
        padding-top: 90px;
        text-align: center;
        width: 100%;
        padding-bottom: 20px;

    }
    .OurWork .text div{
        border-top: 4px solid white ;
        margin: 4px auto ;
        width: 30px;
    }
    .text-tile, .image-tile{
        float: left;
        width: 256px;
        height: 256px;
        background-color: #e95e5a;
    }

    .text-tile{
        text-align: center;
        transition: transform 1.5s;
    }
    .text-tile:hover{
        background-color: #e94944;
    }
    .text-tile:hover{
        transform: rotate(360deg);
    }
    .text-tile img{
        margin-top: 80px;
        margin-bottom: 15px;
    }
    .image-tile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: transform .2s;
    }
    .image-tile img:hover{
        transform: scale(1.2);
    }
    .facebook{
        padding: 100px 0;
        height: auto;
        background-color: #1287bf;
        align-items: center;
        text-align: center;
    }
    .facebook h1, .facebook p{
        color: white;
    }
    .facebook .circle{
        height: 66px;
        width: 66px;
        border: 4px solid white;
        border-radius: 66px;
        margin: 20px auto 65px;
    }
    .facebook .circle .arrow{
        height: 14px;
        width: 14px;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        margin: 23px auto;
        transform: rotate(45deg);
    }
    .facebook .form{
        background-color: white;
        min-height: 450px;
        min-width: auto;
        max-width: 683px;
        margin: 0 auto;
        height: auto;
    }
    .facebook .triangle{
        position: absolute;
        margin-left: 315px;
        background-color: white;
        height: 55px;
        width: 55px;
        transform: rotate(45deg);
        margin-top: -28px;
    }
    .facebook .form p{
        padding: 50px 50px 40px 50px;
        color: #828282;
    }
    .form form{
        padding: 0 120px;
    }
    .form form input{
        display: block;
        width: 420px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #b5b5b5;
        border-width: 1px;
        padding-left: 20px;
        margin: 8px auto;
        color: #b5b5b5;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }
    .form form input:focus{
        border: 1px solid #1287bf;
        box-shadow: 0 0 4px #1287bf;
    }
    .form form .submit{
        width: 160px;
        padding: 0;
        margin-top: 35px;
        background-color: #de2b24;
        color: white;
        font-weight: bold;
    }

    footer{
        padding-top: 90px;
        height: 555px;
        background-color: #2a2a2a;
    }
    footer .info{
        height: 490px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
    footer .info div h1{
        color: white;
    }
    footer .info div p{
        color:#8c8c8c;
    }
    footer .info .icons{
        height: 45px;
        margin: 30px auto;
    }
    footer .info .icons span{
        display: inline-block;
        border:  2px solid #515151;
        border-radius: 4px;
        height: 45px;
        width: 45px;
        vertical-align: middle;
        margin: 0 7px;
    }
    footer .info .icons span:hover{
        border-color: #de2b24;
    }
    .icons span img{
        width: 25px;
        height: 22px;
        padding-top: 10px;
    }
    .icons span:first-child img{
        height: 30px;
        width: 18px;
        padding-top: 7px;
    }
    footer .info div form .email{
        display: block;
        width: 100%;
        height: 55px;
        margin: 27px 0;
        background-color: #515151;
        outline: none;
        border-style: none;
        padding-left: 10px;
        color: #afafaf;
    }
    footer .info div form .submit{
        background-color: #2a2a2a;
        color: white;
        height: 55px;
        width: 155px;
        border: 3px solid #515151;
        border-radius: 3px;
        outline: none;
    }
    footer .copy{
        height: 65px;
        background-color: #515151;

    }
    footer .copy p{
        text-align: center;
        color: #adadad;
        padding-top: 25px;
    }
}

@media screen and (min-width:683px) and (max-width:1024px) {
    body{
        width: 100%;
    }
    main{
        height: auto;
        background-color: #de2b24;
        align-items: center;
    }
    .OurWork{
        min-height: 1350px;
        max-width: 512px;
        color: white;
        margin: 0 auto;
        height: auto;
        
    }

    .OurWork .text{
        padding-top: 90px;
        text-align: center;
        width: 100%;
        padding-bottom: 20px;

    }
    .OurWork .text div{
        border-top: 4px solid white ;
        margin: 4px auto ;
        width: 30px;
    }
    .text-tile, .image-tile{
        float: left;
        width: 256px;
        height: 256px;
        background-color: #e95e5a;
    }

    .text-tile{
        text-align: center;
        transition: transform 1.5s;
    }
    .text-tile:hover{
        background-color: #e94944;
    }
    .text-tile:hover{
        transform: rotate(360deg);
    }
    .text-tile img{
        margin-top: 80px;
        margin-bottom: 15px;
    }
    .image-tile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: transform .2s;
    }
    .image-tile img:hover{
        transform: scale(1.2);
    }
    .facebook{
        padding: 100px 0;
        height: auto;
        background-color: #1287bf;
        align-items: center;
        text-align: center;
    }
    .facebook h1, .facebook p{
        color: white;
    }
    .facebook .circle{
        height: 66px;
        width: 66px;
        border: 4px solid white;
        border-radius: 66px;
        margin: 20px auto 65px;
    }
    .facebook .circle .arrow{
        height: 14px;
        width: 14px;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        margin: 23px auto;
        transform: rotate(45deg);
    }
    .facebook .form{
        background-color: white;
        min-height: 450px;
        min-width: auto;
        max-width: 683px;
        margin: 0 auto;
        height: auto;
    }
    .facebook .triangle{
        position: absolute;
        margin-left: 315px;
        background-color: white;
        height: 55px;
        width: 55px;
        transform: rotate(45deg);
        margin-top: -28px;
    }
    .facebook .form p{
        padding: 50px 50px 40px 50px;
        color: #828282;
    }
    .form form{
        padding: 0 120px;
    }
    .form form input{
        display: block;
        width: 420px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #b5b5b5;
        border-width: 1px;
        padding-left: 20px;
        margin: 8px auto;
        color: #b5b5b5;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }
    .form form input:focus{
        border: 1px solid #1287bf;
        box-shadow: 0 0 4px #1287bf;
    }
    .form form .submit{
        width: 160px;
        padding: 0;
        margin-top: 35px;
        background-color: #de2b24;
        color: white;
        font-weight: bold;
    }

    footer{
        padding-top: 90px;
        height: 555px;
        background-color: #2a2a2a;
    }
    footer .info{
        height: 490px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
    footer .info div h1{
        color: white;
    }
    footer .info div p{
        color:#8c8c8c;
    }
    footer .info .icons{
        height: 45px;
        margin: 30px auto;
    }
    footer .info .icons span{
        display: inline-block;
        border:  2px solid #515151;
        border-radius: 4px;
        height: 45px;
        width: 45px;
        vertical-align: middle;
        margin: 0 7px;
    }
    footer .info .icons span:hover{
        border-color: #de2b24;
    }
    .icons span img{
        width: 25px;
        height: 22px;
        padding-top: 10px;
    }
    .icons span:first-child img{
        height: 30px;
        width: 18px;
        padding-top: 7px;
    }
    footer .info div form .email{
        display: block;
        width: 100%;
        height: 55px;
        margin: 27px 0;
        background-color: #515151;
        outline: none;
        border-style: none;
        padding-left: 10px;
        color: #afafaf;
    }
    footer .info div form .submit{
        background-color: #2a2a2a;
        color: white;
        height: 55px;
        width: 155px;
        border: 3px solid #515151;
        border-radius: 3px;
        outline: none;
    }
    footer .copy{
        height: 65px;
        background-color: #515151;
    }
    footer .copy p{
        text-align: center;
        color: #adadad;
        padding-top: 25px;
    }
  }
  @media screen and (max-width:683px) {
    body{
        width: 100%;
    }
    main{
        height: auto;
        background-color: #de2b24;
        align-items: center;
    }
    .OurWork{
        min-height: 2400px;
        max-width: 256px;
        color: white;
        margin: 0 auto;
        height: auto;
        
    }

    .OurWork .text{
        padding-top: 90px;
        text-align: center;
        width: 100%;
        padding-bottom: 20px;

    }
    .OurWork .text div{
        border-top: 4px solid white ;
        margin: 4px auto ;
        width: 30px;
    }
    .text-tile, .image-tile{
        float: left;
        width: 256px;
        height: 256px;
        background-color: #e95e5a;
    }

    .text-tile{
        text-align: center;
        transition: transform 1.5s;
    }
    .text-tile:hover{
        background-color: #e94944;
    }
    .text-tile:hover{
        transform: rotate(360deg);
    }
    .text-tile img{
        margin-top: 80px;
        margin-bottom: 15px;
    }
    .image-tile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: transform .2s;
    }
    .image-tile img:hover{
        transform: scale(1.2);
    }
    .facebook{
        padding: 100px 0;
        height: auto;
        background-color: #1287bf;
        align-items: center;
        text-align: center;
    }
    .facebook h1, .facebook p{
        color: white;
    }
    .facebook .circle{
        height: 66px;
        width: 66px;
        border: 4px solid white;
        border-radius: 66px;
        margin: 20px auto 65px;
    }
    .facebook .circle .arrow{
        height: 14px;
        width: 14px;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        margin: 23px auto;
        transform: rotate(45deg);
    }
    .facebook .form{
        background-color: white;
        min-height: 450px;
        min-width: auto;
        max-width: 400px;
        margin: 0 auto;
        height: auto;
    }
    .facebook .triangle{
        position: absolute;
        margin-left: 174px;
        background-color: white;
        height: 55px;
        width: 55px;
        transform: rotate(45deg);
        margin-top: -28px;
    }
    .facebook .form p{
        padding: 50px 50px 40px 50px;
        color: #828282;
    }
    .form form{
        padding: 0 40px;
    }
    .form form input{
        display: block;
        width: 300px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #b5b5b5;
        border-width: 1px;
        padding-left: 20px;
        margin: 8px auto;
        color: #b5b5b5;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }
    .form form input:focus{
        border: 1px solid #1287bf;
        box-shadow: 0 0 4px #1287bf;
    }
    .form form .submit{
        width: 160px;
        padding: 0;
        margin-top: 35px;
        background-color: #de2b24;
        color: white;
        font-weight: bold;
    }

    footer{
        padding-top: 90px;
        height: 555px;
        background-color: #2a2a2a;
    }
    footer .info{
        height: 490px;
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }
    footer .info div h1{
        color: white;
    }
    footer .info div p{
        color:#8c8c8c;
    }
    footer .info .icons{
        height: 45px;
        margin: 30px auto;
    }
    footer .info .icons span{
        display: inline-block;
        border:  2px solid #515151;
        border-radius: 4px;
        height: 45px;
        width: 45px;
        vertical-align: middle;
        margin: 0 7px;
    }
    footer .info .icons span:hover{
        border-color: #de2b24;
    }
    .icons span img{
        width: 25px;
        height: 22px;
        padding-top: 10px;
    }
    .icons span:first-child img{
        height: 30px;
        width: 18px;
        padding-top: 7px;
    }
    footer .info div form .email{
        display: block;
        width: 100%;
        height: 55px;
        margin: 27px 0;
        background-color: #515151;
        outline: none;
        border-style: none;
        padding-left: 10px;
        color: #afafaf;
    }
    footer .info div form .submit{
        background-color: #2a2a2a;
        color: white;
        height: 55px;
        width: 155px;
        border: 3px solid #515151;
        border-radius: 3px;
        outline: none;
    }
    footer .copy{
        height: 65px;
        background-color: #515151;
    }
    footer .copy p{
        text-align: center;
        color: #adadad;
        padding-top: 25px;
    }
  }
